@charset "UTF-8";

/*
em html é id = em css é #
em html é class = em css é .
*/

body{
    color: aliceblue;
    background-color: rgb(12, 8, 24);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

h1#pri{
    text-align: center;
    color: rgb(255, 255, 255);
    background-color:rgb(2, 2, 2) ;

}

h2{
color: rgb(255, 187, 0);;
}
.basic{
color: rgb(36, 179, 0);
}
.inter{
color: rgb(207, 207, 0);
}
.avanc{
   color: rgb(193, 0, 0); 
}